body {
    background-color: rgb(3, 34, 65);
}

h1, h2 {
    color: rgb(243, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    
}

h2 {
    margin-top: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

button {
    margin: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: .5rem;
    width: 5rem;
    color: rgb(10, 1, 28);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

#indicator-container {
    display: flex;
    justify-content: center;
    width: 10%;
}

#indicator {
    margin: 0;
    visibility: hidden;
    font-size: 1.6rem;
    padding: 1rem;
}

#stop-btn {
    display: none;
}

#reset-btn {
    display: none;
}

.light-mode-container {
    margin: 2.5rem;
    padding-bottom: .5rem;
}

#dark-mode-btn {
    display: none;
}

.light-mode, .light-mode h1, .light-mode h2 {
    background-color: rgb(221, 248, 254);
    color: rgb(5, 5, 39);
}




@media screen and (max-width: 500px) {
    #indicator-container {
        display: flex;
        width: auto;
    }

    #indicator {
        font-size: 1.4rem;
    }
}
